// Oh yeah! Default Fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

// An of course! Default Monospace Fonts
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

.card {
  // Reset styles! - only for this component
  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }

  & img {
    -moz-force-broken-image-icon: 0;
  }

  & button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    text-transform: none;
    cursor: pointer;
    line-height: inherit;
  }

  & button:focus {
    outline: none;
  }

  & svg {
    display: block;
    line-height: 1.2rem;
    stroke-width: 2px;
  }

  // Card styles
  background-color: var(--containerBackground);
  border-radius: 0.5rem;
  color: var(--containerForeground);
  border: var(--containerBorder);
  overflow: hidden;
  width: 390px;
  min-height: 265px;
  position: relative;
  text-align: center;
  border: 1px solid rgb(227, 222, 222);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;

  .card_middle {
    padding: 1.2rem;
    padding-top: 0;
    flex: 1;
    overflow-x: hidden;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  align-items: center;
  padding: 1rem 1rem 0.2rem 1rem;

  & .icon {
    font-weight: bold;
    user-select: none;
    font-size: 0.8rem;
  }
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;

  & .score_value {
    font-family: "JetBrains Mono";
    color: var(--highlighterRight);
  }

  & .dot {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.question {
  margin-bottom: 1.25rem;
  font-size: 1.05rem;
  font-weight: 400;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & div {
    flex: 1 0 0;
    padding: 0.5rem;
    overflow: hidden;
  }

  &_center {
    display: flex;
  }

  .skip_button_wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .skip_button {
    padding: 0.2rem;
    font-weight: 600;
    background: none;
    font-size: 0.875rem;
    color: var(--containerForeground);

    &[disabled] {
      color: #bdc1c6;
      cursor: not-allowed;
    }
  }
}

.image_options_wrapper {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  color: #fff;
}

.button_options_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: hidden;

  &_left {
    width: 45%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &_right {
    flex-shrink: 0;
    flex-grow: 0;
  }

  &_right_full {
    width: 100%;
  }

  &_right_half {
    width: 50%;
  }
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  line-height: 1.5rem;
  cursor: pointer;
  height: 2.7rem;
  border: 1px solid var(--optionButtonUnansweredBorder);
  background: var(--optionButtonUnansweredBackground);
  color: var(--optionButtonUnansweredText);

  &.button--wrong {
    border: 1px solid var(--optionButtonWrongBorder);
    background: var(--optionButtonWrongBackground);
    color: var(--optionButtonWrongText);
  }

  &.button--right {
    border: 1px solid var(--optionButtonRightBorder);
    background: var(--optionButtonRightBackground);
    color: var(--optionButtonRightText);
  }

  &.button--full {
    width: 100%;
  }
}

.image_wrapper {
  flex: 1;
  height: 7rem;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;

  &:focus {
    outline: none;
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .image_inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

.image_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;

  .image_cover__wrapper {
    border-radius: 9999px;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #000000b0;
  }

  & span {
    display: block;
    font-size: 2.25rem;
    z-index: 10;
  }
}

.highlights {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;


  .highlight {
    height: 6px;
    width: 6px;
    display: inline-block;
    border-radius: 9999px;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--highlighterUnanswered);

    &.highlight--right {
      background-color: var(--highlighterRight);
    }

    &.highlight--wrong {
      background-color: var(--highlighterWrong);
    }
  }
}

.or_divider {
  color: gray;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.accordion {
  &_group {
    border: 1px solid #bdc1c6;
    border-top: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.9rem;
  }
  &_item_container {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 0px;
  }
  &_item_button_left {
    flex: 1;
    display: flex;
  }
  &_item_button_left_icon {
    margin-right: 0.5rem;
  }
  &_item_button_left_title {
    text-align: left;
  }
  &_item_button {
    cursor: pointer;
    padding: 0.8rem;
    border-top: 1px solid #bdc1c6;
    display: flex;
  }
}

.accordion {
}

.accordion-inner {
}

.accordion-left {
}

.circular_progress {
  position: relative;

  &_inner {
    font-size: 1.5rem;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_outer_cirlce {
    stroke: #f3f3f3;
    strokewidth: 5;
  }

  &_circle_group {
    transform: rotate(90deg);
  }
}

.image_w_hint {
  display: flex;
  position: relative;

  &__image {
    height: 96px;
    width: 127px;
    object-fit: cover;
  }

  &__hint {
    background: white;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 500px;
    height: 45px;
    width: 45px;
    margin-top: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.explainer {
  height: 100%;

  &__image_group {
    border-bottom: 1px solid;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &_with_image {
      border-top: none;
    }

    &_without_image {
      border-top: 1px solid;
    }
  }
}
